* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0,28,60,255)
}

.screen {
    background-image: url("../photos/background_blue.png");
    overflow: hidden;
    height: 100vh;
    background-size: 20%;
}

/* changes on mobile devices */
@media only screen and (max-width: 600px) {
    .screen {
        background-size: 50%;
        height: 100svh;
        /* svh is a new unit! svh is specifically for mobile! it represents the smallest vh on mobile. */
    }
}

.card-image {
    height: 10vh;
}

#test {
    transition: transform 3000ms linear;
    transform: rotateX(0deg);
}
