* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(0,28,60,255)
}

.screen {
    background-image: url("../photos/background_blue.png");
    overflow: hidden;
    height: 100vh;
    background-size: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* changes on mobile devices */
@media only screen and (max-width: 600px) {
    .screen {
        background-size: 50%;
        height: 100svh;
        /* svh is a new unit! svh is specifically for mobile! it represents the smallest vh on mobile. */
    }
}

.card-image {
    height: 50px;
}

#test {
    transition: transform 500ms linear;
    transform: rotateX(0deg);
}

#game-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    width: 30vw;
    min-width: 300px;
    position: relative;
}

#guess-input {
    /* padding: 0.5rem; */
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 70%;
}

#submitter {
    padding: 0 0.2rem;
    width: 15%;
    min-width: 50px;
}

#autocomplete-container {
    position: absolute;
    width: 70%;
    background-color: rgba(132, 0, 0, 0.467);
    top: 2.5rem;
}

.autocomplete-card {
    background-color: white;
    height: 2rem;
    width: 100%;
}

.red{
    background-color: crimson;
    text-decoration: white;
    width:50px;
    height:50px;
    border: 10px;
}
.green{
    background-color:chartreuse;
    text-decoration: white;
    width:50px;
    height:50px;
    border: 10px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;

}
#game-container{
    flex-direction: column;
    width: 30vw;

}
#key{
    margin-top: 10px;
    background-color: gold;
}
li{
    margin: 3px;
}
p{
    background-color: gold;
}
h2{
    background-color: gold;
}

.rules {
    margin: 2vh 5vw;
}

.icon {
    height: 90%;
    margin: auto;
}

#daily {
    padding: 5px;
    background-color: rgb(74, 72, 152);
    margin: 5px;
}

#randomize {
    margin: 5px;
    padding: 5px;
    background-color: rgb(74, 72, 152);
}

#help-icon {
    height: 5vh;
}

#rules-title {
    visibility: hidden;
}

#rules-content {
    visibility: hidden;
}
